.App {
  text-align: center;
}

.App-header {
  background-color: #82f38b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.stage {
  display: grid;
}

#stage-0, #stage-1, #stage-2, #stage-3 {
  width: 200px;
  height: 200px;
  border: 4px solid;
  border-color: black;
}

#stage-0 {
  grid-row: 1;
  grid-column: 1;
}

#stage-1 {
  grid-row: 1;
  grid-column: 2;
}

#stage-2 {
  grid-row: 2;
  grid-column: 1;
}

#stage-3 {
  grid-row: 2;
  grid-column: 2;
}

.boss {
  width: 300px;
  height: 300px;
  border: 5px dotted;
  pointer-events: none;
  border-radius: 300px;
  display: block;
  position: absolute;
  border-color: red;
  background-color: darkred;
  top: 0;
  left: 0;
}

.start-btn {
  margin: 5em;
  width: 100px;
  height: 50px;
}